@-webkit-keyframes hover {
  0%     { transform: translateY(0); }
  50%    { transform: translateY(20px); }
  100%   { transform: translateY(0); }
}
@-moz-keyframes hover {
  0%     { transform: translateY(0); }
  50%    { transform: translateY(20px); }
  100%   { transform: translateY(0); }
}
@-o-keyframes hover {
  0%     { transform: translateY(0); }
  50%    { transform: translateY(20px); }
  100%   { transform: translateY(0); }
}
@keyframes hover {
  0%     { transform: translateY(0); }
  50%    { transform: translateY(20px); }
  100%   { transform: translateY(0); }
}