$colors: (
  grey-1: #F7F3EF,
  grey-2: #EDE9E5,
  grey-3: #E8E4E0,
  grey-4: #D9D5D1,
  grey-5: #ABA9AD,
  grey-6: #7C797C,
  blue-1: #AAC4D7,
  red-1: #D54546,
  black-1: #2C2831,
  white: #fff
);

$distance: (
  body-padding: 136px,
  body-padding-sm: 30px,
  body-padding-xs: 15px
);